{% extends "links_/base.html" %}
{% load i18n future mezzanine_tags drum_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user|get_profile }}{% endblock %}

{% block main %}
{% if profile_user == request.user %}
<div class="pull-right">
    <a class="btn btn-large btn-primary btn-profile" href="{% url "profile_update" %}">{% trans "Update profile" %}</a>
</div>
{% endif %}
<div class="clearfix">
  <h2>
    Perfil
  </h2>

    {% with profile_user|get_profile as profile %}
    {% if profile.bio %}
    <p class="bio">{{ profile.bio|urlize|linebreaks }}</p>
    {% endif %}
    {% if profile.website %}
    <p class="bio">{% trans "Website" %}: {{ profile.website|urlize }}</p>
    {% endif %}
    {% endwith %}

    <a href="{% url "comment_list_user" profile_user.username %}">{% trans "comments" %} ({{ profile_user.comment_comments.count }})</a> |
    <a href="{% url "link_list_user" profile_user.username %}">links ({{ profile_user.links.published.count }})</a>

</div>

{% if profile_user == request.user %}
<hr />

<div class="container">
  <h2>
    Certificados
  </h2>

  <div class="row">

    <!-- left -->
    <div class="span6">

      <div>
          {% for c in certificates %}
          <div class="row">
            <div class="span6">
              <p><a class="no-pjax" href="/users/{{ profile_user.username }}/certificado/{{ c.id }}">{{c.name}}</a></p>
            </div>
          </div>

          {% empty %}
          Você não possui certificados.
          {% endfor %}
      </div>
    </div>

    <!-- right -->
    <div class="span6">

      <div>
        <h3>
          Inscrição XIX EPI
        </h3>
        <div>
          <ul class="unstyled">
            <li><a class="no-pjax" href="/epi/inscricoes-epi" target="_blank">Realizar inscrição como ouvinte.</a></li>
            <li><a class="no-pjax" href="/epi/submeter-comunicacao" target="_blank">Submeter comunicação.</a></li>
            <li><a class="no-pjax" href="/epi/comprovante-de-pagamento" target="_blank">Enviar comprovante de pagamento.</a></li>
            <li><a class="no-pjax" href="/users/{{ profile_user.username }}/certificados/" target="_blank">Certificados.</a></li>
          </ul>
        </div>
      </div>
    </div>

</div>
{% endif %}
{% endblock %}