{% load i18n drum_tags mezzanine_tags %}

{% nevercache %}
    {% if request.user.is_authenticated %}
    <li class="">
        <a href="{% url "logout" %}?next={{ request.path }}" class="">
            {% trans "Log out" %}
        </a>
    </li>
    {% else %}
    <li class="">
        <a href="{% url "login" %}?next={{ request.path }}" class="">
            {% trans "Log in" %}
        </a>
    </li>
    <li class="">
        <a href="{% url "signup" %}?next={{ request.path }}" class="">
            {% trans "Sign up" %}
        </a>
    </li>
    {% endif %}

{% if request.user.is_authenticated %}

    {% url "profile" request.user.username as profile_url %}
    {% if not profile_url %}{% url "profile_update" as profile_url %}{% endif %}
    <li>
        <a class="" href="{{ profile_url }}">
            {{ request.user|get_profile }}
        </a>
    </li>
{% endif %}
{% endnevercache %}