{% extends "pages/page.html" %}

{% load i18n mezzanine_tags %}

{% block main %}

{% with portfolioitem.images.all as portfolio_images %}
{% if portfolio_images %}
<div id="portfolio_carousel" class="carousel slide">
	<div class="carousel-inner">
	  {% for image in portfolio_images %}
	  <div class="item {% if forloop.first %}active{% endif %}">
		 <img src="{{ MEDIA_URL }}{% thumbnail image.file 770 515 %}" alt="" />
	  </div>
	  {% endfor %}
	</div>
	<a class="left carousel-control" href="#portfolio_carousel" data-slide="prev"></a>
	<a class="right carousel-control" href="#portfolio_carousel" data-slide="next"></a>
</div>
{% endif %}
{% endwith %}

{% editable page.portfolioitem.content %}
{{ page.portfolioitem.content|safe }}
{% endeditable %}

{% endblock %}


{% block right_panel %}

{% editable page.portfolioitem.short_description %}
{{ portfolioitem.short_description|safe }}
{% endeditable %}
<hr />

{% with portfolioitem.categories.all as categories %}
	{% if categories %}
	<h3>{% trans "Categories" %}:</h3>
		<ul class="links">
		{% for category in categories %}
			<li>{{ category }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

<hr />

<a class="btn dark_btn marg20" href="{{ page.portfolioitem.parent.get_absolute_url }}">{% trans "Back to Portfolio" %}</a>

{% endblock %}