{% extends "links_/base.html" %}
{% load i18n future mezzanine_tags drum_tags pages_tags %}

{% block meta_title %}{{ profile_user.username }}{% endblock %}
{% block title %}{{ profile_user|get_profile }}{% endblock %}

{% block main %}
{% if profile_user == request.user %}
<div class="pull-right">
    <a class="btn btn-large btn-primary btn-profile" href="{% url "profile_update" %}">{% trans "Update profile" %}</a>
</div>
{% endif %}
<div class="clearfix">
  <h2>
    Perfil
  </h2>

    {% with profile_user|get_profile as profile %}
    {% if profile.bio %}
    <p class="bio">{{ profile.bio|urlize|linebreaks }}</p>
    {% endif %}
    {% if profile.website %}
    <p class="bio">{% trans "Website" %}: {{ profile.website|urlize }}</p>
    {% endif %}
    {% endwith %}

    <a href="{% url "comment_list_user" profile_user.username %}">{% trans "comments" %} ({{ profile_user.comment_comments.count }})</a> |
    <a href="{% url "link_list_user" profile_user.username %}">links ({{ profile_user.links.published.count }})</a>

</div>

{% if profile_user == request.user %}
<hr />

<div class="container">
  <div class="row">

    <!-- left -->
    <div class="span6">
      <div>
        <h3>Informativos</h3>
          {% for info in informativos %}
          <div class="row">
            <div class="span6">
              <div class="hover_img">
                <a class="no-pjax" href="{{ info.get_absolute_url }}">
                  <img src="{{MEDIA_URL}}{% thumbnail info.featured_image 570 245 %}" alt="" />
                </a>
                <center class="spaced"><strong>{{ info.title }}</strong></center>
              </div>
            </div>
          </div>
          {% empty %}
          Não há informativos.
          {% endfor %}
        </div>

      <div>
        <h3>Cronograma</h3>
        {% for c in cronograma %}
          <div class="row">
            <div class="span6">
              <h4>{{ c.title }}</h4>
              <div>
                {{ c.content|safe }}
              </div>
            </div>
          </div>
        {% empty %}
          Não há cronogramas.
        {% endfor %}
      </div>

    </div>

    <!-- right -->
    <div class="span6">

      {% for page in profile-sidebar %}
      <div>
        <h3>{{ page.title }}</h3>
        <div>
          <p>{% page_menu page "pages/menus/tree.html" %}</p>
        </div>
      </div>
      <!-- <div>
        {% if XX_EPI %}
        <h3>XX EPI</h3>
        <div>
            <p> {% page_menu XX_EPI "pages/menus/tree.html" %}</p>
        </div>
        {% else %}
        <h3>XIX EPI</h3>
        <div>
            <p> {% page_menu XIX_EPI "pages/menus/tree.html" %}</p>
        </div>
        {% endif %}
      </div> -->
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
{% endblock %}
